.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
    background-image: url(./img/hamburger-bg.jpg);
    background-size: cover;
    
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border:none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  button[type="submit"] {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background: #F28123;
    border: 1px solid #F28123;
    color: #fff;
    padding: 10px 20px;
  }
  
  button[type="submit"]:hover {
    background: #f29e59;
  }
  
  .button-container {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: end;
  }
  
  .login-form {
    min-width: 280px;
    height: fit-content;
    background-color: white;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    text-align: end;
    font-size: 12px;
  }
  
  .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .greeting{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 25px;
  }

  .img-padlock{
    width: 100%;
    display: flex;
    justify-content: center;
  }

 .img-padlock img{
   width: 50px;
 }

 .img-logo{
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-logo img{
 width: 80px;
}
